
<nav class ="navbar fixed-nav-bar minav">

  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
      <ul class="menu mimenu">
          <li><a class="mibtn" routerLink="">Me</a></li>
          <li><a class="mibtn" routerLink="academic">Studies</a></li>
          <li><a class="mibtn" routerLink="experience">Experience</a></li>
          <li><a class="mibtn" routerLink="skills">Skills</a></li>
          <li><a class="mibtn" routerLink="contact-me">Contact</a></li>
      </ul>
  </nav>
