/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin:0;
  padding: 0;
}


/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  }

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display:inline-block;
  }

/* Styling the links */
nav a {
  display:block;
  padding: 18px 18px;
  background-color: black;
  color:white!important;
  font-size:17px;
  text-decoration:none;
}

/* Background color change on Hover */
nav a:hover {
  background-color: gray;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {


nav {
  margin: 0;
}

.mibtn:hover{
  color:white!important;
}
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;

  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    width: 100%;
    text-align: center;
    background-color: black;
    padding:14px 20px;
    color:#FFF;
    font-size:17px;
    text-decoration:none;

  }

  .toggle:hover {
    background-color:gray;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

nav ul {
  border: 1px black solid;
}
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;

    }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #000000;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a{
    padding:14px 20px;
    color:#FFF;
    font-size:17px;
  }


  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position:static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */

  }

}

@media all and (max-width : 330px) {
  nav ul li {
    display:block;
    width: 94%;
  }
}

.minav {
     background-color: white ;
     display: flex;
     align-items: center;
     width: 100vw;
     max-height: 60px;
     border-bottom: 1px solid lightgray;
   }

   ul {
   width: 100%;
   display: flex;
   justify-content: space-around!important;

   }

   li {
    background-color: white !important;
    color: black !important;
    width: 20%;
    text-align: center;


   }
   a{
   max-height: 60px!important;
   font-weight: bolder;
   width: 100%;
   color: black !important;

   }
a:hover{
  background-color: gray!important;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px!important;
}
