

<nav class ="navbar fixed-nav-bar minav">

  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
      <ul class="menu mimenu">
          <li><a class="mibtn" routerLink="">Me</a></li>
          <li><a class="mibtn" routerLink="resume">Hobbies</a></li>
          <li><a class="mibtn" routerLink="portfolio">Experience</a></li>
          <li><a class="mibtn" routerLink="myapps">MyApps</a></li>
          <li><a class="mibtn" routerLink="contact-me">Contact</a></li>
      </ul>
  </nav>
