
<div class="body">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card border">
                  <div class="card-body">
                      <br>
                      <h2 class="card-title title">Timeline</h2>
                      <br>
                      <div id="content">
                          <ul class="timeline ">
                              <li class="event" data-date="2022">
                                  <h3>Supermercats Llobet</h3>

                                  <p>I work as an IT technician.
                                     I install and configure programs. I also write documentation about them.
                                     I do other typical jobs of the position.
                                   </p>
                              </li>
                              <li class="event" data-date="2020-2021">
                                  <h3>Kids&Us</h3>
                                  <p>Web Development Curricular Practice. Analysis of Web and Android Apps, we detected bugs on them and reported them to be solved.
                                     We also used the mysql database to check possible issues.</p>
                              </li>
                              <li class="event" data-date="2018">
                                  <h3>Atento España (012)</h3>
                                  <p> Assist citizens via telephone regarding education, universities and Catalan (012)</p>
                              </li>
                              <li class="event" data-date="2018">
                                  <h3>Atento España (Endesa)</h3>
                                  <p>Attend via mail or social networks to customers and those affected in matters of bills,
                                     energy distribution, rates, etc... (ENDESA).</p>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
