
<div class="container body">
  <div class="child">
    <br>
    <table class="table table-hover table-bordered table-light" id="sortTable">
    <thead class="table-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Educational Institution</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Specialization Course in Cybersecurity in Information Technology Environments</td>
        <td>IES Lacetania</td>
        <td>2022</td>
      </tr>

      <tr>
        <td>Development of Web Applications</td>
        <td>IES Lacetania</td>
        <td>2021</td>
      </tr>

      <tr>
        <td>Occupational Program specialized in Customer Service</td>
        <td>Cambra de Comerç de Manresa</td>
        <td>2019</td>
      </tr>

      <tr>
        <td>Administration and Finances</td>
        <td>IES Lacetania</td>
        <td>2017</td>
      </tr>

      <tr>
        <td>Bachillerato</td>
        <td>IES Guillem Cata</td>
        <td>2012</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
