<div class="body">
  <br>
    <div class="container round p-5 bg-dark text-white">
      <h3 class="title carta">COMPUTER SKILLS</h3>
      <br>
      <div class="flex-container">
        <div class="carta"><i class="fa-brands fa-php fa-lg"></i></div>
        <div class="carta"><i class="fa-brands fa-js fa-lg"></i></div>
        <div class="carta"><i class="fa-brands fa-python fa-lg"></i></div>
        <div class="carta"><i class="fa-brands fa-java fa-lg"></i></div>
        <div class="carta"><i class="fa-brands fa-android fa-lg"></i></div>
        <div class="carta"><i class="fa fa-database fa-lg"></i></div>
        <div class="carta"><i class="fa-brands fa-bootstrap fa-lg"></i></div>
        <div class="carta"><i class="fa-brands fa-unity fa-lg"></i></div>
      </div>
    </div>
  <br>
  <div class="container bars round p-5 lang">
    <h3 class="title carta-inv">LANGUAGES</h3>
    <br>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1 my-2">Catalan:</div>
        <div class="col-sm-10 col-md-10 col-lg-11 my-2">
          <div class="progress">
            <div class="native-cat-step complete ">Native</div>
          </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1 my-2">Spanish:</div>
        <div class="col-sm-10 col-md-10 col-lg-11 my-2">
          <div class="progress">
            <div class="native-esp-step complete">Native</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1 my-2">English:</div>
        <div class="col-sm-10 col-md-10 col-lg-11 my-2">
          <div class="progress">
            <div class="step complete">A1</div>
            <div class="step complete">A2</div>
            <div class="step complete">B1</div>
            <div class="step complete">B2</div>
            <div class="step">C1</div>
            <div class="step">C2</div>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<div class="container round p-5 bg-dark text-white">
  <h3 class="title carta">OTHER</h3>
  <div class="other">
    <div class="otherCheck">Driver Licence: </div><input type="checkbox" id="cbox" checked="Yes" value="checkbox">
    <div class="otherCheck "> Car Owner: </div><input type="checkbox" id="cbox" class="mb-3" checked="Yes" value="checkbox">
  </div>
</div>
<br>
